html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

/*
	styles that apply to all views
*/
h1, h2 {
	color: #111;
	font-family: "Playfair Display", "Noto Serif", sans-serif;
	font-weight: 700;
	font-size: 2em;
	text-align: center;
}

a, p, li, span, button {
	color: #333;
	font-family: "Noto Sans", sans-serif;
}

#main {
	min-height: 100%;
}

.view {
	margin: 0 auto;
	max-width: 740px;
	padding: 30px 0;
}

.next-view {
	border: 3px solid #535AAC;
	background-color: white;
	display: block;
	color: #535AAC;
	font-weight: bold;
	outline: none;
	margin: 60px auto 30px auto;
	padding: 8px 16px;
	text-transform: uppercase;
	transition: all 0.125s ease;
}

.next-view:hover,
.next-view:focus {
	background-color: #535AAC;
	color: white;
}

.text-container {
	box-sizing: border-box;
	padding: 20px;
}

.text {
	font-size: 1em;
}


/*
	practice trial and trial related styles
*/

.trial {
	height: 100%;
}

.progress-bar-container {
	float: right;
	margin: -20px 0 40px 0;
}

.progress-bar {
	color: #555;
	font-style: italic;
}

.pause-container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.pause-container .point {
	position: absolute;
	top: calc(50% - 15px);
	left: calc(50% - 15px);
}

.stimulus-container {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 160px;
	margin: 30px auto;
	width: 500px;
}

.img {
}

.help-text {
	color: #555;
	font-style: italic;
	margin: 0;
	text-align: center;
}

.sentence-container {
	box-sizing: boder-box;
	display: inline-block;
	margin: 0 auto;
	padding: 30px 0;
	width: auto;
}

.sentence,
.question {
	padding: 20px 0;
	text-align: center;
}

.word {
	font-size: 1.3rem; 
	margin: 0 3px;
	position: relative;
	visibility: hidden;
}

.word:after {
	height: 2px;
	width: 100%;
	background: #333;
	display: inline-block;
	content: "";
	visibility: visible;

	position: absolute;
	bottom: -3px;
	left: 0;
}

input[name=question] {
	display: none;
}

.answer {
	border: 2px solid #535AAC;
	border-radius: 3px;
	color: #535AAC;
	font-weight: bold;
	margin: 10px;
	padding: 3px 6px;
}

.answer:hover,
.answer:focus {
	background: #535AAC;
	color: white;
}


.subj-info-templ form {
	padding: 30px 0;
	max-width: 550px;
	margin: 0 auto;
}

.subj-info-templ p {
	display: flex;
	flex-direction: column;
	margin: 25px 0;
}

.subj-info-templ form input, 
.subj-info-templ form select {
	width: 200px;
	max-width: 200px;
}

.subj-info-templ form label {
	margin: 0 10px 0 0;
}

.subj-info-templ form label span {
	font-size: 0.8em;
}

.subj-info-templ form textarea {
	border-radius: 5px;
	border: 1px solid #777;
	font-family: "Lato", serif;
	font-size: 1em;
	padding: 10px 15px;
	margin: 5px 0 0 0;
}

.clearfix {
	clear: both;
}

/*
	classes used by the js
*/
.nodisplay {
	display: none;
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}
