html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* the container where the views are plugged */
main {
	max-width: 960px;
	margin: 50px auto;
}

/* titles */
h1 {
	color: rgba(0, 0, 0, 0.87);
	font-family: "Playfair Display", "Noto Serif", serif;
	font-size: 34px;
	text-align: center;
}

h2,
h3,
h4 {
	color: rgba(0, 0, 0, 0.87);
	font-family: "Lato", "Noto Sans", serif;
	font-size: 20px;
	text-align: center;
}

h4 {
	font-size: 18px;
	text-align: left;
}

/* text */
p {
	color: rgba(0, 0, 0, 0.87);
	font-size: 17px;
	line-height: 27px;
	font-family: "Lato", "Noto Sans", sans-serif;
	margin: 0 auto;
	max-width: 550px;
}

button {
	background-color: #5187BA;
	border: none;
	border-radius: 2px;
	color: white;
	display: block;
	font-family: "Lato", "Noto Sans", sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: 700;
	letter-spacing: 0.9px;
	margin: 40px auto 20px auto;
	outline: none;
	padding: 5px 10px;
	text-transform: uppercase;
}

/* buttons when covered or clicked */
button:hover,
button:focus {
	background-color: #324D93;
}

.progress-bar-container {
	float: right;
	margin: 0 10px 30px 10px;
}

.clearfix {
	clear: both;
}

.progress-bar {
	border: 1px solid #5187BA;
	height: 20px;
	width: 180px;
}

.progress-bar #filled {
	background-color: #5187BA;
	display: block;
	height: 20px;
}

.stimulus-container {
	height: 300px;
	margin: 0 auto;
	position: relative;
	width: 400px;
}

.stimulus {
	background-color: #414f6f;
	height: 120px;
	left: 140px;
	position: absolute;
	top: 90px;
	width: 120px;
}

.question {
	padding: 30px 0;
	text-align: center;
}

.answer-container {
	text-align: center;
}

.answer-container input[name=answer] {
	display: none;
}

.answer-container label {
	background-color: #5187BA;
	border: none;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: "Lato", "Noto Sans", sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: 700;
	letter-spacing: 0.9px;
	margin: 40px 5px 20px 5px;
	outline: none;
	padding: 5px 10px;
	text-transform: uppercase;
}

.answer-container label:hover {
	background-color: #324D93;
}

/* does not display the element */
.nodisplay {
	display: none;
}

.post-test-templ form {
	padding: 30px 0;
	max-width: 550px;
	margin: 0 auto;
}

.post-test-templ p {
	display: flex;
	flex-direction: column;
	margin: 25px auto;
	text-align: left;
}

.post-test-templ form input, 
.post-test-templ form select {
	width: 200px;
	max-width: 200px;
}

.post-test-templ form label {
	margin: 0 10px 0 0;
}

.post-test-templ form label span {
	font-size: 0.8em;
}

.post-test-templ form textarea {
	border-radius: 5px;
	border: 1px solid #777;
	font-family: "Lato", serif;
	font-size: 1em;
	padding: 10px 15px;
	margin: 5px 0 0 0;
}

.thanks-templ .debug-results {
	text-align: left;
}

.thanks-templ h4 {
	margin: 40px 10px;
}

.thanks-templ strong {
	border: 2px solid #25BC82;
	color: #25BC82;
	display: inline-block;
	padding: 10px;
}

.thanks-templ .success-message {
	text-align: center;
}

.thanks-templ .prolific-url {
	color: white;
	display: inline-block;
	background: #25BC82;
	padding: 10px;
	margin: 10px 5px;
	text-decoration: none;
}